@page "/0201WhileLoopFactorial"

<PageTitle>Factorial</PageTitle>
<h1>Factorial</h1>
<br/>
<table>
    <tr>
        <td>Argument:</td>
        <td>
            <input style="text-align:right" @bind="num"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:right" colspan="2">
            <button class="btn btn-primary" title="by forward counting" @onclick="FactorialByCountForward">Factorial</button> &nbsp;
            <button class="btn btn-primary" title="by backward counting" @onclick="FactorialByCountBackward">Factorial</button> &nbsp;
            <button class="btn btn-primary" title="by decrementing" @onclick="FactorialByDecrementing">Factorial</button> &nbsp;
        </td>
    </tr>
    <tr>
        <td>@num !!:</td>
        <td><input style="text-align:right" @bind="result"/></td>
    </tr>
 </table> 
<br/>

@code {

    private int num = 0;

    private long result = 1;

    private void FactorialByCountForward()
    {
        Console.WriteLine("FactorialByCountForward");
        int n = num;
        Console.WriteLine("Argument: " + n);
        if(n<0)
        {
            Console.WriteLine("Error - argument is negative.");
            result = long.MinValue;
            return;
        }
        int i = 1;
        long fakt = 1;
        while (i <= n)
        {
            if (DoubleFactorial(n, i))
            {
                fakt = fakt * i;
                
            }
            i++; // i += 1; // i = i +1;
        }
        result = fakt;
        System.Console.WriteLine("Result: " + result);
        System.Console.WriteLine();
    }

    private void FactorialByCountBackward()
    {
        Console.WriteLine("FactorialByCountBackward");
        int n = num;
        Console.WriteLine("Argument: " + n);
        if (n < 0)
        {
            Console.WriteLine("Error - argument is negative.");
            result = long.MinValue;
            return;
        }
        int i = n;
        long fakt = 1;
        while (i >= 1)
        {
            if (DoubleFactorial(n, i))
            {
                fakt *= i; // fakt = fakt * i;
                
            }
            i--;
        }
        result = fakt;
        System.Console.WriteLine("Result: " + result);
        System.Console.WriteLine();
    }

    private void FactorialByDecrementing()
    {
        Console.WriteLine("FactorialByDecrementing");
        int n = num;
        Console.WriteLine("Argument: " + n);
        if (n < 0)
        {
            Console.WriteLine("Error - argument is negative.");
            result = long.MinValue;
            return;
        }
        long fakt = 1;
        while (n>0)
        {
            if (DoubleFactorial(num, n))
            {
                fakt *= n; 
                
            }
            n--;
        }
        result = fakt;
        System.Console.WriteLine("Result: " + result);
        System.Console.WriteLine();
    }

    public bool DoubleFactorial(int n, int i)
    {
        return n % 2 == i % 2;
    }

}
