@page "/03ArrayIterationFunction"

<PageTitle>Arrays - iteration</PageTitle>
<h1>Arrays - iteration</h1>
<br/>
<button class="btn btn-primary" @onclick="Execute">Do It!</button>
<br/>
Source:
<br/>
<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>
<br/>
Output:
<br/>
<div style="border:solid; border-color:black">
  <pre>@messageOut</pre>
</div>

@code {
    private string message = "";
    private string messageOut = "";
    string ElementsToString(byte[] arr, bool order = true)
    {
        string res = "";
        for (int i = 0; i < arr.Length; i++)
        {
            if(order) res += arr[i] + " ";
            else res = arr[i] + " " + res;
        }
        return res;
    }

    string ElementsToString(string[] arr, bool order = true)
    {
        string res = "";
        foreach (string x in arr)
        {
            if(order) res += "'" + x + "' ";
            else res = "'" + x + "' " + res;
        }
        return res;
    }

    string ElementsToString(int[] arr, bool order = true)
    {
        string res = "";
        foreach (int x in arr)
        {
            if(order) res += x + " ";
            else res = x + " " + res;
        }
        return res;
    }

    private void Execute()
    {
        byte[] bytA = new byte[30];
        bytA[2] = 45;
        for (int i = 3; i < bytA.Length; i++)
            bytA[i] = (byte)(2 * i);
        message += "bytA: " + ElementsToString(bytA) + Environment.NewLine;
        Console.WriteLine(message);
        //
        messageOut += "bytA: " + ElementsToString(bytA, false) + Environment.NewLine;
        Console.WriteLine(messageOut);

        String spec = " special";
        String[] seasons = { " spring", " autumn", spec + " winter", " summer" };
        message += "seasons: " + ElementsToString(seasons) + Environment.NewLine;
        Console.WriteLine(message);
        //
        messageOut += "seasons: " + ElementsToString(seasons, false) + Environment.NewLine;
        Console.WriteLine(messageOut);

        int[] arr = { 24, 48, 96, 192, 36, 72, 144 };
        message += "arr: " + ElementsToString(arr) + Environment.NewLine;
        Console.WriteLine(message);
        //
        messageOut += "arr: " + ElementsToString(arr, false) + Environment.NewLine;
        Console.WriteLine(messageOut);

        string[] strA = new string[40];
        strA[2] = "mickey";
        strA[3] = "mouse";
        strA[4] = "donald";
        strA[5] = "duck";
        strA[6] = "goofy";
        message += "strA: " + ElementsToString(strA) + Environment.NewLine;
        Console.WriteLine(message);
        //
        messageOut += "strA: " + ElementsToString(strA, false) + Environment.NewLine;
        Console.WriteLine(messageOut);
    }
}
